<nav class="nav-desktop">
  <ul class="menu"></ul>
  <ul class="menu menu-left">
    <li class="menu-item" [routerLinkActive]="'active'">
      <a class="menu-item-interaction" routerLink="home">
        {{ "navbar.home" | translate }}
      </a>
    </li>
  </ul>

  <ul class="menu menu-right">
    <li class="menu-item" [routerLinkActive]="'active'">
      <a class="menu-item-interaction" routerLink="guide">
        {{ "navbar.onlineGuide" | translate }}
      </a>
    </li>
    <li class="lang-switcher">
      <app-language-switcher></app-language-switcher>
    </li>
    <li>
      <button
        class="btn secondary"
        type="button"
        (click)="logout.emit()"
        [title]="'navbar.logout' | translate"
      >
        <i class="ph ph-sign-out"></i>
      </button>
    </li>
  </ul>
</nav>
