.nav-desktop {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .menu {
    display: flex;
    align-items: center;

    .menu-item {
      align-items: center;
      display: flex;
      height: 100%;
      font-size: var(--font-size-menu);
      border-bottom: 3px solid transparent;

      &:hover,
      &.active {
        border-color: var(--menu-item-hover-band);

        a {
          color: var(--secondary-color);
        }

        .dropbtn {
          color: var(--secondary-color);
        }
      }

      .menu-item-interaction {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 24px;
      }

      .dropbtn {
        font-family: inherit;
        font-size: var(--font-size-menu);
        color: var(--primary-color);
        gap: 8px;

        .ph {
          font-size: var(--font-size-menu);
        }
      }

      .dropdown-content {
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        background-color: var(--primary-background);
        box-shadow: var(--standard-box-shadow);
        z-index: 99;

        a {
          font-size: var(--font-size-action);
          font-weight: normal;
          padding: 16px 24px;
          color: var(--accent-text-color);
          border-right: 8px solid transparent;

          &:hover,
          &.active {
            background: var(--submenu-item-hover-background);
            border-color: var(--submenu-item-hover-band);
          }
        }
      }
    }

    .guest {
      color: var(--primary-color);
      font-size: var(--font-size-menu);
      font-weight: 600;
      padding: 0 24px;
    }

    .lang-switcher {
      width: 100px;
      margin-right: 4px;
      align-items: center;
    }
  }

  .menu-right {
    flex: 1;
    justify-content: right;
  }
}
