.login-template-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .language-selector {
    position: absolute;
    top: 8px;
    width: 130px;
    right: 0;
    margin-top: 8px;
  }

  .login-template {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .rounded-block {
      display: flex;
      flex-direction: row;
      width: 900px;
      max-height: 100%;
      animation: fadeIn 0.3s;
      margin: 24px;

      .logo-img {
        min-width: 50%;
        object-fit: cover;
        object-position: 51%;
        object-view-box: floor($number: 15);
      }

      .login-form-container {
        min-width: 50%;
        flex-grow: 1;
        background-color: var(--primary-background);
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        gap: 48px;

        & > * {
          width: 100%;
        }
        .logo {
          width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .logo-img {
    display: none;
  }

  .login {
    background-image: "assets/images/installateur.jpeg";
  }
}
