<app-login-template>
  <form class="reset-password-form" (submit)="onSubmit()">
    <div class="input-block required">
      <label for="password">{{ "resetPassword.password" | translate }}</label>
      <div class="password-container">
        <input
          id="password"
          [type]="passwordVisible() ? 'text' : 'password'"
          [value]="password()"
          (input)="password.set($any($event.target).value)"
          (blur)="passwordTouched.set(true)"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('password')"
        >
          <i [class]="passwordVisible() ? 'ph ph-eye' : 'ph ph-eye-slash'"></i>
        </button>
      </div>
      @if (errorPassword()) {
        <ul class="form-error">
          <li>{{ errorPassword() }}</li>
        </ul>
      }
    </div>

    <div class="input-block required">
      <label for="password-confirm">{{
        "login.passwordConfirm" | translate
      }}</label>
      <div class="password-container">
        <input
          id="password-confirm"
          [type]="confirmPasswordVisible() ? 'text' : 'password'"
          [value]="confirmPassword()"
          (input)="confirmPassword.set($any($event.target).value)"
          (blur)="confirmPasswordTouched.set(true)"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('confirmPassword')"
        >
          <i
            [class]="confirmPasswordVisible() ? 'ph ph-eye' : 'ph ph-eye-slash'"
          ></i>
        </button>
      </div>
      @if (errorConfirmPassword()) {
        <ul class="form-error">
          <li>{{ errorConfirmPassword() }}</li>
        </ul>
      }
    </div>

    <div class="actions">
      <button
        type="submit"
        class="btn secondary btn-reset-password"
        [disabled]="!isFormValid() || loading()"
      >
        {{ "resetPassword.resetActionButton" | translate }}
        @if (loading()) {
          <app-loader></app-loader>
        }
      </button>
    </div>
  </form>
</app-login-template>
