.forgot-password-form {
  width: 100%;

  .actions {
    margin-top: 20px;
    text-align: center;
  }

  .return-login-link {
    text-align: center;

    a {
      font-size: var(--font-size-info);
      font-weight: 400;
      text-decoration: none;
    }
  }
}
