<app-login-template>
  <form class="forgot-password-form" (submit)="onSubmit()">
    <div class="input-block required">
      <label for="email">{{ "forgotPassword.email" | translate }}</label>
      <input
        type="email"
        id="email"
        [value]="email()"
        (input)="email.set($any($event.target).value)"
        (blur)="emailTouched.set(true)"
        [placeholder]="'forgotPassword.placeholder' | translate"
      />
      @if (errorEmail()) {
        <ul class="form-error">
          <li>{{ errorEmail() }}</li>
        </ul>
      }
    </div>

    <div class="actions">
      <button
        type="submit"
        class="btn secondary btn-forgot-password"
        [disabled]="!isFormValid() || loading() || mailAlreadySent()"
      >
        {{
          mailAlreadySent()
            ? ("forgotPassword.mailAlreadySendButton" | translate)
            : ("forgotPassword.forgotActionButton" | translate)
        }}
        @if (loading()) {
          <app-loader></app-loader>
        }
      </button>
    </div>
    <div class="return-login-link">
      <a routerLink="/login">{{
        "forgotPassword.returnToLogin" | translate
      }}</a>
    </div>
  </form>
</app-login-template>
